*.DS_Store
*.Rhistory

old/*
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Adams et al. - 2010 - High-Level Face Adaptation Without Awareness.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Alario et al. - 2010 - The Functional Origin of the Foreign Accent Evide.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Alicke et al. - 2010 - Mere Categorization and the Frog-Pond Effect.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Back et al. - 2010 - Facebook Profiles Reflect Actual Personality, Not .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Bahrami et al. - 2010 - Unconscious Numerical Priming Despite Interocular .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Balcetis and Dunning - 2010 - Wishful Seeing More Desired Objects Are Seen as C.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Bohrn et al. - 2010 - Mona Lisa’s Smile—Perception or Deception.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Bouvier and Treisman - 2010 - Visual Feature Binding Requires Reentry.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Bowles and Gelfand - 2010 - Status and the Evaluation of Workplace Deviance.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Boyce et al. - 2010 - Money and Happiness Rank of Income, Not Income, A.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Buehner and Humphreys - 2010 - Causal Contraction Spatial Binding in the Percept.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Byers-Heinlein et al. - 2010 - The Roots of Bilingualism in Newborns.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Campbell et al. - 2010 - Hyper-Binding A Unique Age Effect.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Chambers - 2010 - Why the Parts Are Better (or Worse) Than the Whole.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Chen et al. - 2010 - How Low Socioeconomic Status Affects 2-Year Hormon.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Coppin et al. - 2010 - I’m No Longer Torn After Choice How Explicit Choi.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Cutting et al. - 2010 - Attention and the Evolution of Hollywood Film.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Davis and Love - 2010 - Memory for Category Information Is Idealized Throu.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Deater-Deckard et al. - 2010 - Maternal Working Memory and Reactive Negativity in.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/DeVoe and Iyengar - 2010 - Medium of Exchange Matters What’s Fair for Goods .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Engbert and Krügel - 2010 - Readers Use Bayesian Estimation for Eye Movement C.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Epstein et al. - 2010 - The Influence of Taxes and Subsidies on Energy Pur.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Fernbach et al. - 2010 - Neglect of Alternative Causes in Predictive but No.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Ferrer et al. - 2010 - Uncoupling of Reading and IQ Over Time Empirical .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Fetchenhauer and Dunning - 2010 - Why So Cynical Asymmetric Feedback Underlies Mis.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Filoteo et al. - 2010 - Removing the Frontal Lobes The Effects of Engagin.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Flevaris et al. - 2010 - Local or Global Attentional Selection of Spatial.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Gable and Harmon-Jones - 2010 - The Blues Broaden, but the Nasty Narrows Attentio.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Gardelle and Kouider - 2010 - How Spatial Frequencies and Visual Awareness Inter.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Hardisty et al. - 2010 - A Dirty Word or a Dirty World Attribute Framing,.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Herrmann et al. - 2010 - The Structure of Individual Differences in the Cog.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Kay et al. - 2010 - Randomness, Attributions of Arousal, and Belief in.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Kelly et al. - 2010 - Two Sides of the Same Coin Speech and Gesture Mut.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Knoch et al. - 2010 - A Neural Marker of Costly Punishment Behavior.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Konar et al. - 2010 - Holistic Processing Is Not Correlated With Face-Id.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Krizan et al. - 2010 - Wishful Thinking in the 2008 U.S. Presidential Ele.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Lambert et al. - 2010 - Motivating Change in Relationships Can Prayer Inc.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Lany and Saffran - 2010 - From Statistics to Meaning Infants’ Acquisition o.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Lee et al. - 2010 - Sneezing in Times of a Flu Pandemic Public Sneezi.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Levy and Kelly - 2010 - Sex Differences in Jealousy A Contribution From A.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Li et al. - 2010 - How Do People Value Life.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Liljenquist et al. - 2010 - The Smell of Virtue Clean Scents Promote Reciproc.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Litt et al. - 2010 - Lusting While Loathing Parallel Counterdriving of.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Lyn et al. - 2010 - The Impact of Environment on the Comprehension of .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Makin et al. - 2010 - Amputees “Neglect” the Space Near Their Missing Ha.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Mazar and Zhong - 2010 - Do Green Products Make Us Better People.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Miles et al. - 2010 - Moving Through Time.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Miller and Maner - 2010 - Scent of a Woman Men’s Testosterone Responses to .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Mortensen et al. - 2010 - Infection Breeds Reticence The Effects of Disease.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Nickerson and Rogers - 2010 - Do You Have a Voting Plan Implementation Intenti.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Pacheco-Unguetti et al. - 2010 - Attention and Anxiety Different Attentional Funct.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Racsmány et al. - 2010 - Consolidation of Episodic Memories During Sleep L.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Roberts and Humphreys - 2010 - The Role of Somatotopy and Body Posture in the Int.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Sackett et al. - 2010 - You’re Having Fun When Time Flies The Hedonic Con.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Saguy et al. - 2010 - Interacting Like a Body Objectification Can Lead .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Savani et al. - 2010 - What Counts as a Choice U.S. Americans Are More .pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Sayette et al. - 2010 - Out for a Smoke The Impact of Cigarette Craving o.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Schnall et al. - 2010 - Elevation Leads to Altruistic Behavior.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Segerstrom and Sephton - 2010 - Optimistic Expectancies and Cell-Mediated Immunity.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Senay et al. - 2010 - Motivating Goal-Directed Behavior Through Introspe.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Simpson et al. - 2010 - Attachment Working Models Twist Memories of Relati.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Southgate et al. - 2010 - Motor System Activation Reveals Infants’ On-Line P.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Stirrat and Perrett - 2010 - Valid Facial Cues to Cooperation and Trust Male F.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Strick et al. - 2010 - Unconscious-Thought Effects Take Place Off-Line, N.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Talati et al. - 2010 - Now You See It, Now You Don’t Shedding Light on t.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Taylor et al. - 2010 - Are Plasma Oxytocin in Women and Plasma Vasopressi.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Vasey and VanderLaan - 2010 - An Adaptive Cognitive Dissociation Between Willing.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Vergauwe et al. - 2010 - Do Mental Processes Share a Domain-General Resourc.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Vries et al. - 2010 - Happiness Cools the Warm Glow of Familiarity Psyc.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Walker et al. - 2010 - Preverbal Infants’ Sensitivity to Synaesthetic Cro.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Wang and Dvorak - 2010 - Sweet Future Fluctuating Blood Glucose Levels Aff.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Weis and Cerankosky - 2010 - Effects of Video-Game Ownership on Young Boys’ Aca.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Willems et al. - 2010 - A Dissociation Between Linguistic and Communicativ.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Willems et al. - 2010 - Body-Specific Representations of Action Verbs Neu.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Yashar and Lamy - 2010 - Intertrial Repetition Facilitates Selection in Tim.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Zauberman et al. - 2010 - 1995 Feels So Close Yet So Far The Effect of Even.pdf
Course content/Week 2 - treating articles as a hostile witness/assignment/Psych Science articles 2010 January to early April/pdfs/Zhong et al. - 2010 - Good Lamps Are the Best Police Darkness Increases.pdf
